- member.each do |person|
  .Member
    .Member__Image
    -# - if person.createrimages.image.present?
    -#   = image_tag peson.createrimages.image.url, class: 'Person__image'
    -# - if person.characterimages.image.present?
    -#   = image_tag person.characterimages.image.url, class: 'Person__image'

    .Member__Info
      .Member__Info__Name
        = person.name
      .Member__Info__Intro
        = person.introduction
  .ActionBtn
    = link_to image_tag("/images/1606913085108.jpg", width: '200'), root_path, class: "Btn"