* {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 204, 125);
}

.Header {
  width: 100vw;
  height: 25vh;
  background-color: black;
  &__Title {
    height: 57%;
    text-align: center;
    background-image: url("/images/1606910908691.jpg");
  }
  &__LastInfo {
    width: 70%;
    height: 60px;
    margin: 23px 15% 5px 15%;
    background-color: black;
    color: orange;
    font-size: 36px;
    font-weight: bold;
  }
}

.Body {
  width: calc(100vw - 30%);
  height: 280vh;
  background-color: white;
  text-align: center;
  margin: 0px 15%;
}

@import "reset";
@import "character";
@import "creater";
@import "news";
@import "member";
@import "font-awesome-sprockets";
@import "font-awesome";

.Footer {
  width: 100vw;
  height: 15vh;
  background-color: rgb(94, 86, 86);
  text-align: center;
  color: white;
  padding-top: 18px;
  &__Text {
    font-size: 18px;
  }
  &__Content {
    font-size: 10px;
  }
}